{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar-dark" style="background-color: #016C3E;">
    <div class="p-4 pt-5">
        <div class="container">
            <div class="row p-4 pt-5">
                <a class="navbar-brand " href="/">
                    <img src="{% static 'image/logo.png' %}" width="100" height="100" alt="">
                    СБЕР КАФЕ
                </a>
            </div>
            <div class="row p-3">
                <div class="col p-2">
                    <a href="{% url "shop:product_list" %}" class="btn btn-outline-light btn-block btn-lg">Добавить еще</a>
                </div>
            </div>
            <div class="row p-3">
                <div class="col p-2">
                    <a href="{% url "orders:order_create" %}" class="btn btn-outline-warning btn-block btn-lg">Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="content" class="p-4 p-md-5">
    <div class="album py-5">
        <div class="container">
            <h2>
                <span class="badge pull-right">
                    {% with totail_items=cart|length %}
                        {% if cart|length > 0 %}
                            Текущий список покупок:
                            <a href="{% url "cart:cart_detail" %}" style="color: #ffffff">
                                {{ totail_items }} item {{ totail_items|pluralize }}, {{ cart.get_total_price }}₽
                            </a>
                            {% else %}
                            Вы пока ничего не выбрали... :(
                        {% endif %}
                    {% endwith %}
                </span>
            </h2>
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Изображение</th>
                    <th scope="col">Товар</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Удалить</th>
                    <th scope="col">Цена одного товара</th>
                    <th scope="col">Цена</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        {% with product=item.product  %}
                            <tr>
                                <th scope="row">
                                    <a href="{{ product.get__absolute_url }}">
                                        <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                                </a>
                                </th>
                                <td>{{ product.name }}</td>
                                <td>
                                <form action="{% url "cart:cart_add" product.id %}" method="post">
                                    {% csrf_token %}
                                    <span style="display:inline-block">    
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.update }}
                                        <input type="submit" value="Изменить" class="btn btn-outline-success" style="margin-top:10%;">
                                    </span>
                                </form>
                                </td>
                                <td>
                                    <a href="{% url "cart:cart_remove" product.id %}">Удалить</a>
                                </td>
                                <td> {{ item.price }} ₽</td>
                                <td> {{ item.total_price }} ₽</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    <tr>
                        <td><b>Суммарная стоимость</b></td>
                        <td colspan="4"></td>
                        <td colspan="num"><b> {{ cart.get_total_price }} ₽</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}