<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение Удаления</title>
</head>

<body>
    <h1>Подтверждение Удаления</h1>
    <p>Вы точно хотите удалить "{{ product.name }}"?</p>

    <form method="post" action= <a href="{% url 'shop:product_detail' id=product.id slug=product.slug %}"></a>
        {% csrf_token %}
        <input type="submit" value="Потвердить">
    </form>

    <a href="{% url 'shop:product_detail' id=product.id slug=product.slug %}">Отмена</a>
</body>

</html>