{% load static %}
<div id="{{ product.slug }}--form" class="modal fade">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div id="{{ product.slug }}-btn">
              <div class="row">
                  
                  
                  
                  
                  <script>
                    function increaseValue(inputId) {
                      var currentValue = parseInt(document.getElementById(inputId).value);
                      document.getElementById(inputId).value = currentValue + 1;
                    }
                
                    function decreaseValue(inputId) {
                      var currentValue = parseInt(document.getElementById(inputId).value);
                      if (currentValue > 1) {
                        document.getElementById(inputId).value = currentValue - 1;
                      }

                    }
                  </script>

                  <img src="{{ product.image.url }}" alt="" style="width: 100%">
                  <div class="modal-name-of-product-title">{{ product.name }}
                    {{product.star_rating}}
                    <img src="{% static 'admin\img\star.svg' %}"/>
                  </div>
                  
                  <h6 style="border: 0px;">Цена</h6>
                  <div class="modal-price-title">
                      {{ product.price }} ₽ 
                  </div>
                  <div class="modal-description-title">
                      {{ product.description | safe }}
                  </div>
                  <div class="btn-cart-change-value">
                    <button class="btn btn-success" onclick="decreaseValue('{{ product.slug }}')">-</button>
                    <button class="btn btn-success" onclick="increaseValue('{{ product.slug }}')">+</button>
                  </div>
                  <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {% csrf_token %}
                    <div class="btn-cart-change-value-line">
                      <input type="number" id="{{ product.slug }}" name="quantity" value="1">
                    </div>
                    <div class="col p-2">
                        <input type="submit" value="Добавить в корзину" class="btn btn-outline-success btn-block btn-lg">
                    </div>
                  </form> 
                  
                  <div class="row p-3">
                      <div class="col p-2">
                          <button type="button" value="Previous Page" class="btn btn-outline-warning btn-block btn-lg" data-bs-dismiss="modal">
                              Назад
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>