{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
  <selection class="week-choice">
    <a class="first-week" href="{{ week_url }}1">
      1 неделя
    </button>
    <a class="second-week" href="{{ week_url }}2">
      2 неделя
    </button>
  </selection>
  <a href="/" class="btn btn-light" style="margin: 5px;">
    <div class="main-menu-categories-title">Все</div>
  </a>
  {% for category in categories %}
  <a href="{{ category.get_absolute_url }}" class="btn btn-light" style="margin: 5px;">
    <div class="main-menu-categories-title">{{ category.name }}</div>
  </a>
  {% endfor %}
  <selection>
    <div class="food-map">
      <div class="cart-widget">
        {% with totail_items=cart|length %}
        {% if cart|length > 0 %}
        <a class="btn btn-success cart-count" href="{% url 'cart:cart_detail' %}">
           <span class="cart-items-count">Корзина: {{ totail_items }}</span>
        </a>
        {% else %}
        <a class="btn btn-outline-warning btn-block btn-lg" href="{% url 'cart:cart_detail' %}">
            Корзина пуста
        </a>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="second-week">
          <a class="btn btn-outline-success btn-block btn-lg" href="{% url 'cart:user_order' %}">
            <span class="cart-items-count">Заказы</span>
          </a>
        </div>
        {% endif %}
        {% endwith %}
      </div>
      <div id="buy-content">

            <div class="container">
                <div class="row">
                    {% for product in products %}
                    {% include 'shop\product\detail.html'%}
                    {% include 'shop\product\more_about.html'%}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{product.image.url }}" style="--size: 250px; aspect-ratio: 1.00; width: var(--size); margin: auto; display: block;" alt="изображение продукта">
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <h6 class="card_price">{{product.price}} ₽</h6>
                                <button type="button" class="btn btn-success btn-lg btn-block" data-bs-toggle="modal"
                                  data-bs-target="#{{ product.slug }}-more-about-form" id="{{ product.slug }}-more-about-btn" ;>
                                  <div class="user-login">Подробнее</div>
                                </button>
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                  data-bs-target="#{{ product.slug }}--form" id="{{ product.slug }}-btn" ;>
                                  <div class="user-login">+</div>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
 
    </div>

    </div>
  </selection>
  <selection class="information-table">

  </selection>
</div>
{% endblock %}


